h1{
    color: red;
    background-color: white;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

h2{
    color: white;
    background-color: black;
    font-size: 45px;
    margin-left: 1px;
}

h3{
    color: white;
    background-color: black;
    font-size: 30px;
    text-align: left;
}

p{
    font-size: 25px;
    text-align: left;
}

